[Unit]
Description=code-server

[Service]
User=root
WorkingDirectory=/home/coder
ExecStart=code-server
Restart=on-failure
RestartPreventExitStatus=1024

[Install]
WantedBy=multi-user.target