[Unit]
Description=code-server

[Service]
User=root
WorkingDirectory=/home/coder
ExecStart=bash /home/MyDocker/script/code-server.open.sh
Restart=on-failure
RestartPreventExitStatus=1024

[Install]
WantedBy=multi-user.target